<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="golfdb.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <golfdb.My.MySettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Firstname" serializeAs="String">
                <value />
            </setting>
            <setting name="Lastname" serializeAs="String">
                <value />
            </setting>
            <setting name="Street" serializeAs="String">
                <value />
            </setting>
            <setting name="City" serializeAs="String">
                <value />
            </setting>
            <setting name="State" serializeAs="String">
                <value />
            </setting>
            <setting name="Zip" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Phone" serializeAs="String">
                <value />
            </setting>
        </golfdb.My.MySettings>
    </userSettings>
</configuration>
